@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Leaflet map needs this to show up */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* Custom Sleek Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #1e293b; /* slate-800 */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3b82f6; /* blue-500 */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Ensure the dragging item doesn't block the 'over' detection */
.dnd-poly-fix {
  pointer-events: none;
}

.mask-fade {
  mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
}

html {
  overflow-y: scroll; /* Always reserve space for the scrollbar */
}